.header {
    width: 100%;
    height: 627px;
    margin-top: 102px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1152px) {
        width: 1152px;
    }
    @media screen and (max-width: 1152px) {
        margin-top: 60px;
    }
    .logotype {
        width: 200px;
        height: 51.83px;
        .logo_enceya {
            width: 200px;
            height: 51.83px;
        }
    }
    .about {
        width: 100%;
        height: 203.35px;
        margin-top: 160px;
        /* Web / Headline */
        font-family: Aeroport;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        letter-spacing: -0.04em;
        /* Black */
        color: #0A0D13;
        @media screen and (min-width: 1152px) {
            width: 1152px;
        }@media screen and (max-width: 1152px) {
            height: 100%;
        }
        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
    .btn_started {
        margin-top: 80px;
    }
    .link_sign_in {
        width: 87px;
        height: 41px;
        margin-top: 30px;
        span {
            width: 87px;
            height: 41px;
            /* Web / Button */
            font-family: Aeroport;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 41px;
            /* identical to box height */
            text-align: center;
            letter-spacing: -0.04em;
            /* Blue */
            color: #0A77CC;
        }
    }
}

.what_we_do {
    width: 100%;
    height: 648px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1750px) {
        width: 1750px;
    }
    .gradient {
        top: 929px;
    }
    .what_we_do__header {
        width: 262px;
        height: 68px;
        margin: 40px 0 60px 0;
        /* Web / Headline */
        font-family: Aeroport;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        letter-spacing: -0.04em;
        /* Black */
        color: #0A0D13;
    }
    .what_we_do__items {
        width: 280px;
        height: 480px;
        p {
            font-family: Aeroport;
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 150%;
            /* or 60px */
            text-align: center;
            letter-spacing: -0.04em;
            color: #0A0D13;
        }
    }
}

.how_we_work {
    width: 100%;
    height: 3758px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1300px) {
        width: 1300px;
    }
    .how_we_work__header {
        margin-bottom: 30px;
        width: 292px;
        height: 68px;
        /* Web / Headline */
        font-family: Aeroport;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        letter-spacing: -0.04em;
        /* Black */
        color: #0A0D13;
    }
    .how_we_work__item {
        margin-top: 50px;
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 1300px) {
            width: 1300px;
        }
        .stroke {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 1139px;
            border: 1px solid #D6DEE4;
            box-sizing: border-box;
            border-radius: 50px;
            @media screen and (min-width: 1300px) {
                width: 1300px;
            }
        }
        .step1 {
            /* Step 1 */
            width: 96px;
            height: 40px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* Web / Steps */
            font-family: Aeroport;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            /* Second Blue */
            color: #77BCE3;
            /* Light Blue */
            background: #EDF7FF;
            border-radius: 5px;
        }
        .name {
            width: 100%;
            height: 60px;
            margin-top: 25px;
            /* Web / Second */
            font-family: Aeroport;
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 150%;
            /* identical to box height, or 60px */
            text-align: center;
            letter-spacing: -0.04em;
            /* Black */
            color: #0A0D13;
            @media screen and (min-width: 829px) {
                width: 829px;
            }
        }
        .form_name {
            width: 100%;
            height: 82px;
            margin-top: 20px;
            /* Web / Secondary */
            font-family: Aeroport;
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 41px;
            text-align: center;
            letter-spacing: -0.04em;
            /* Dark Blue Grey */
            color: #9CA6AE;
            @media screen and (min-width: 662px) {
                width: 662px;
            }
        }
    }
}

.helper {
    margin-top: 150px;
    width: 100%;
    height: 534px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1750px) {
        width: 1750px;
    }
    .helper_content {
        width: 100%;
        height: 204px;
        margin-top: 129px;
        /* Web / Headline */
        font-family: Aeroport;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        letter-spacing: -0.04em;
        /* Black */
        color: #0A0D13;
        @media screen and (min-width: 820px) {
            width: 820px;
        }
    }
    .btn_started {
        margin-top: 140px;
    }
}

.footer {
    margin-top: 206px;
    width: 100%;
    height: 317px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 782.75px) {
        width: 782.75px;
    }
    .footer_social {
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 28px;
        color: #D6DEE4;
        .twitter_icon {
            content: url('../../assets/img/social_icons/twitter.svg');
            &:hover {
                content: url('../../assets/img/social_icons/twitter_hover.svg');
            }
        }
        .inst_icon {
            content: url('../../assets/img/social_icons/instagram.svg');
            &:hover {
                content: url('../../assets/img/social_icons/instagram_hover.svg');
            }
        }
        .dribbble_icon {
            content: url('../../assets/img/social_icons/dribbble.svg');
            &:hover {
                content: url('../../assets/img/social_icons/dribbble_hover.svg');
            }
        }
        .behance_icon {
            content: url('../../assets/img/social_icons/behance.svg');
            &:hover {
                content: url('../../assets/img/social_icons/behance_hover.svg');
            }
        }
        .mail_icon {
            content: url('../../assets/img/social_icons/mail.svg');
            &:hover {
                content: url('../../assets/img/social_icons/mail_hover.svg');
            }
        }
        
    }
    .footer_logotype {
        margin-top: 100px;
        width: 150px;
        height: 39px;
        color: #D6DEE4;
        text-align: center;
        font-size: 50px;
    }
    .footer_year {
        margin-top: 100px;
        width: 68px;
        height: 41px;
        /* Web / Button */
        font-family: Aeroport;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
        /* identical to box height */
        text-align: center;
        letter-spacing: -0.04em;
        /* Blue Grey */
        color: #D6DEE4;
    }
}

p {
    margin-block-start: 0;
    margin-block-end: 0
}

.btn_started {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px 25px 0;
    text-decoration: none;
    width: 199px;
    height: 61px;
    background: linear-gradient(180deg, #0A77CC 0%, #105183 100%), #0A77CC;
    border: 1px solid #1968A6;
    box-sizing: border-box;
    border-radius: 5px;
    &:hover {
        background: linear-gradient(180deg, #0B5F9F 0%, #073253 100%);
    }
    span {
        width: 149px;
        height: 41px;
        /* Web / Button */
        font-family: Aeroport;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
        /* identical to box height */
        text-align: center;
        letter-spacing: -0.04em;
        /* White */
        color: #FFFFFF;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: center;
        margin: 10px 0;
    }
}

.gradient {
    position: absolute;
    width: 100%;
    height: 400px;
    filter: blur(250px);
    background: linear-gradient(97.96deg, rgba(122, 241, 148, 0.61) 5.65%, rgba(159, 186, 228, 0.82125) 53.33%, #BED8FF 93.67%);
    z-index: -1;
    @media screen and (min-width: 1750px) {
        width: 1750px;
    }
}